# {{ ansible_managed }}
# Equivale a: kubeadm init --apiserver-advertise-address --control-plane-endpoint
#             --pod-network-cidr --node-name  (cluster.md 3.1)
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ k8s_api_advertise_address }}
  bindPort: {{ kubeadm_control_plane_api_port }}
nodeRegistration:
  name: {{ node_fqdn }}
  criSocket: unix:///run/containerd/containerd.sock
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: {{ kubeadm_control_plane_version.stdout }}
controlPlaneEndpoint: {{ k8s_control_plane_endpoint }}:{{ kubeadm_control_plane_api_port }}
networking:
  podSubnet: {{ k8s_pod_cidr }}
  serviceSubnet: {{ k8s_service_cidr }}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
